<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Details</title>
  </head>
  <body>
    <header>
      <h1>Please give your details here for contact</h1>
    </header>
    <main>
      <form action="/contact-us" method="POST">
        <input type="text" name="Username" placeholder="Enter your name" />
        <input type="text" name="Email" placeholder="Enter your email" />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
